.payment {
    color: #ffffff;
    height: 100vh;
}

.payment header {
    position: relative;
    background-image: unset;
}

.payment .main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 70px;
    height: calc(100% - var(--height-header));
}

.payment .main > * {
    line-height: 45px;
}

.main .title {
    font-weight: bold;
    font-size: 35px;
}

.payment .banking {
    display: flex;
    gap: 50px;
}

.img-qr-code {
    width: auto;
    height: 100%;
}

.btn__accept-payment {
    width: 100%;
}

.banking {
    max-height: 430px;
}

.title-info {
    margin-top: -15px;
}

.note::before {
    content: "*";
    color: red;
    margin-right: 5px;
    font-weight: bold;
}
