header {
    display: flex;
    padding: 20px 60px;
    height: var(--height-header);
    z-index: 10;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, transparent);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: all 0.4s linear;
}

.header--left,
.header--right {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    margin-right: 25px;
    margin-top: 8px;
}

.primary-navigation {
    display: flex;
}

.nav-itemm {
    color: #fff;
}

.primary-navigation li:not(:last-child) {
    margin-right: 15px;
}

a.active {
    font-weight: bold;
}

.avt {
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.profile-info {
    position: relative;
}

.drop-down {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 20;
    transform: translateX(-100%);
    width: max-content;
    left: 17px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid hsla(0, 0%, 100%, 0.15);
}

header .drop-down li {
    padding: 5px 30px;
}

.drop-down a {
    color: #ffffff;
}

header .drop-down *:hover {
    background-color: rgb(40 40 40 / 90%);
}
