:root {
    --height-footer-booking: 100px;
    --height-header: 68px;
    --width-seat: calc(100% / 17);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #e2e2e2;
}

body {
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

button[data-direction="left"],
button[data-direction="right"] {
    background: url(./assets/arrow-right-solid.svg) 50% no-repeat;
    border: none;
    cursor: pointer;
    height: 80px;
    outline: 0;
    position: absolute;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s linear;
}

button[data-direction="left"] {
    background: url(./assets/arrow-left-solid.svg) 50% no-repeat;
}

button[data-direction="right"] {
    right: 0;
}

button[data-direction="left"]:hover,
button[data-direction="right"]:hover {
    background-color: unset;
    width: 45px;
}
